[Service]
ExecStart=env FONTCONFIG_PATH=$HOME/.config/fc-local/hintfull /usr/bin/foot --server=3
Environment=WAYLAND_DISPLAY=%i
UnsetEnvironment=LISTEN_PID LISTEN_FDS LISTEN_FDNAMES
NonBlocking=true
Restart=always

[Unit]
Requires=%N.socket
Description=Foot terminal server mode for WAYLAND_DISPLAY=%i
Documentation=man:foot(1)

[Install]
WantedBy=wayland-instance@.target
