[Unit]
Description=RXVT-Unicode Daemon

[Service]
KillMode=process
ExecStart=/usr/bin/urxvtd -q -o
Type=simple
Restart=always

[Install]
WantedBy=default.target
