[Unit]
Description=xremap

[Service]
KillMode=process
ExecStartPre=/usr/bin/sway +SI:localuser:root
ExecStart=/home/fuzakebito/.cargo/bin/xremap /home/fuzakebito/.config/xremap/config.yml
Type=simple
Restart=always
RestartSec=3s

Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target
