[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/home/fuzakebito/.cargo/bin/xremap --watch /home/fuzakebito/.config/xremap/config.yml
Type=simple
Restart=always
RestartSec=1s

Environment=DISPLAY=:0

[Install]
WantedBy=default.target
