* {
  border: none;
  border-radius: 2px;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: HackGen35 Console NF;
  font-size: 13px;
  min-height: 0;
	transition: all .2s ease-in-out;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
}

window#waybar > box {
  background-color: #27262c;
  padding: 2px;
  margin: 7px 8px 0px 8px;
}

/*
window#waybar.hidden {
  opacity: 0.2;
}
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
  padding: 0 0px;
  background-color: transparent;
  color: #bebdc9;
  min-width: 36px;
  min-height:20px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #5aaaaf;
  color: #35343d;
}

#workspaces button.urgent {
  background-color: #cc5655;
  color: #35343d;
}

#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  color: #bebdc9;
  background-color: transparent;
  margin: 0 1px;
}

#window {
}

#clock {
  background-color: #bebdc9;
  color: #35343d;
}

#battery {
}

#battery.charging {
  background-color: #4aad78;
  color: #35343d;
}

@keyframes blink {
  to {
    background-color: #cc5655;
  }
}

#battery.warning:not(.charging) {
  color: #bebdc9;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: #bebdc9;
  animation-name: blink;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
  background-color: #cc5655;
}

#pulseaudio {
  background-color: #5aaaaf;
  color: #35343d;
}

#pulseaudio.muted {
  background-color: #42404e;
  color: #bebdc9;
}

#custom-media {
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
  color: #bebdc9;
  animation-name: blink;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  margin-left: -3px;
  margin-right: -3px;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#custom-waybar-mpris {
  padding-left: 8px;
  color: #bebdc9;
  background-color: #42404e;
}
