[Unit]
Description=xremap

[Service]
Type=simple
KillMode=process
ExecStart=%h/.cargo/bin/xremap --watch %h/.config/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Restart=always

[Install]
WantedBy=default.target
